.Home {
  background-color: rgb(248, 234, 213);
}

.Home-bg {
  background-image: url(./images/homeBackground.jpeg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  width: auto;
  height: 45rem;
}

.Home-title {
  margin-top: 21.5rem;
}

.Home-ourTitle {
  font-size: 5rem;
  font-weight: 700;
  color: black;
  text-shadow: 1px 1px 1px white;
  font-family: Courier New, Courier, monospace;
}

.Home-p {
  font-size: 22px;
  font-weight: 250;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.Home-spacing {
  opacity: 0;
}
